<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>135959500080-jakj73ft3og833pg53600k79jhq7od6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135959500080-jakj73ft3og833pg53600k79jhq7od6p</string>
	<key>API_KEY</key>
	<string>AIzaSyBVA4EAUHUXcGcsNGP8oDTC6iWrJ9A9pEA</string>
	<key>GCM_SENDER_ID</key>
	<string>135959500080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SkylerZheng.EasyFly</string>
	<key>PROJECT_ID</key>
	<string>easyfly-3cc98</string>
	<key>STORAGE_BUCKET</key>
	<string>easyfly-3cc98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135959500080:ios:4df2f9860dc7838c</string>
	<key>DATABASE_URL</key>
	<string>https://easyfly-3cc98.firebaseio.com</string>
</dict>
</plist>